{% extends "base.html.twig" %}

{% block title %}Bienvenue sur notre site.
{% endblock %}


{% block body %}
	{# messages de notification #}
	{% for message in app.flashes('success') %}
		<div class="container mt-5">
			<div class="alert alert-success">
				{{ message }}
			</div>
		</div>
	{% endfor %}

	{# diapo #}
	<div class="container-fluid bloc-slider">
		<div class="btn-diaporama">
			<div id="diaporama">
				<img src="/images/banniere_autisme.jpg" class="img-format" alt="images diaporama" />
				<p id="texte-diaporama">
					QUI SOMMES-NOUS ET QUEL EST LE BUT DE CE SITE ? Nous sommes parents de deux enfants diagnostiqués autistes et le but de ce site est qu'en quelques clics les parents puissent trouver tous les professionnels de l'autisme dont ils ont besoin.
				</p>
				<button><i class="fas fa-pause"></i></button>
				<button class="btn-prec"><i class="fas fa-chevron-left"></i></button>
				<button class="btn-suiv"><i class="fas fa-chevron-right"></i>
				</button>
			</div>
		</div>
	</div>
	
	{# Barre de recherche #}
	<section class="data-search">
	{{ form_start(form) }}	
	<h2 class="h4 text-center mb-4">Quel professionnel recherchez vous ?</h2>
	<hr>
		<div class="form-group col-sm">
			<div class="input-group">
				{{ form_widget(form.jobCategory) }}
				{{ form_widget(form.department) }}	
				<button type="submit" class="btn"><i class="fas fa-search"></i></button>
            </div>
        </div> 
	{{ form_end(form) }}
    </section>

	{# Prévisualisation de la fiche du professionnel #}
	<section class="container card-pro">
		{% for proUser in users %}
			{% include "proUser/_card.html.twig" with {proUser : proUser} only %}
		{% endfor %}
	</section>

	{% endblock %}
