{% extends 'base.html.twig' %}

{% block title %}Page du profil de{{ proUser.fullName }}
{% endblock %}

{% block body %}

	<div class="container mt-5">
		{% set u = proUser %}
		<div class="row align-items-center">

			<div class="col-3 text-center mb-3">
				{% if u.Picture %}
					<img src="{{ u.Picture }}" class="avatar mb-3" alt="Photo de {{ u.fullName }}">
				{% else %}
					<img src="http://placehold.it/128x128" class="avatar mb-3" alt="Photo de {{ u.fullName }}">
				{% endif %}
				<br>
				<span id="badgeJob" class="badge badge-primary rounded">{{ u.jobCategory }}</span>
			</div>

			<div class="col-9">
				<h1>{{ u.fullName }}</h1>
				{% if proUser is same as(app.user) %}
					<div class="mt-3">
						<a href="{{ path('account_profile') }}" class="btn btn-info btn-sm mr-2 mb-2">Modifier mes informations</a>
						<a href="{{ path('account_password') }}" class="btn btn-primary btn-sm mb-2">Modifier mon mot de passe</a>
					</div>
				{% endif %}
			</div>

		</div>
		<h5 class="mt-5 mb-3">Description</h5>
		{% if u.description %}
			{{ u.description | raw }}
		{% else %}
			<div class="alert alert-warning">
				<p>
					<strong>{{ u.fullName }}</strong>
					n'a pas encore de déscription sur le site.
				</p>
			</div>
		{% endif %}
		<hr>

		{# Onglet #}
		<div id="menu-tab">
			<div id="page-wrap">
				<div class="tabs">
					<div class="tab"><input id="tab-1" checked="checked" name="tab-group-1" type="radio"/>
						<label for="tab-1">
							<i class="fas fa-map-marked-alt"></i>
						</label>
						<div class="content">
							<h3 class="my-3"><u>Adresse du professionnel</u></h3>
							<p>
								{{ u.address }}
								{{ u.postalCode }}
								{{ u.city }}
							</p>
						</div>
					</div>
					<div class="tab"><input id="tab-2" name="tab-group-1" type="radio"/>
						<label for="tab-2"><i class="fas fa-phone-square"></i></label>
						<div class="content">
						<h3 class="my-3"><u>Numéro de télephone</u></h3>
							<p>
								{{ u.phoneNumber }}
							</p>
						</div>
					</div>
					<div class="tab"><input id="tab-3" name="tab-group-1" type="radio"/>
						<label for="tab-3" id="last-label"><i class="fas fa-at"></i></label>
						<div class="content">
						<h3 class="my-3"><u>Adresse email</u></h3>
							<p>
								{{ u.email }}
							</p>
						</div>
					</div>
					{# <div class="tab"><input id="tab-4" name="tab-group-1" type="radio"/>
						<label for="tab-4" id="last-label">Carte</label>
						<div class="content">
							<p>Iti</p>
						</div>
					</div> #}
				</div>
			</div>
		</div>

		<hr>

		{% if app.user %}
			<div class="alert alert-light">
				<h2 class="alert alert-heading">Laissez un commentaire</h2>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-success btn-md">Confirmer</button>
				{{ form_end(form) }}
			</div>
		{% else %}
			<div class="alert alert-warning">
				<h5 class="alert alert-heading">Il faut être connecté pour donner votre avis</h5>
			</div>
		{% endif %}

		<hr>

		{% if proUser.comments | length > 0 %}
			<h5 class="mb-3">Commentaires sur ce praticien :</h5>

			<div class="alert alert-info">
				<h4 class="alert-heading text-center">
					<div class="row align-items-center">
						<div class="col">
							Note globale du praticien
						</div>
						<div class="col">
							{% include "partials/rating.html.twig" with {'rating' : proUser.avgRatings} %}
							<br>
							<small>(Moyenne sur
								{{ proUser.comments | length }}
								avis)
							</small>
						</div>
					</div>
				</h4>
			</div>

			{% for comment in proUser.comments %}
				<div class="bg-light rounded mb-3 py-3 px-3">
					<strong class="text-primary">
						{{ comment.author.firstName }}
					</strong>
					a dit :
					<blockquote class="blockquote">
						{{ comment.content }}
					</blockquote>
					<strong class="text-primary">Note donnée :</strong>

					{% include "partials/rating.html.twig" with {'rating' : comment.rating} %}
				</div>
			{% endfor %}
		{% else %}
			<h5>Ce praticien n'a pas encore reçu de commentaires.</h5>
		{% endif %}
	</div>

{% endblock %}

