<footer class="page-footer font-small pt-4" id="footer">

  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-3">
        <img src="/images/logo_sos_autisme.png" class="logo logo-footer" alt="logo de sos-autisme">
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Contactez-nous</h5>
        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="{{ path('contact_index') }}">contacter le développeur</a>
          </li>
          <li>
            <a class="text-white" href="{{ path('contact_index') }}">contacter sos-autisme</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">À propos</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="{{ path('useful_link') }}">Liens utiles</a>
          </li>
          <li>
            <a class="text-white" href="{{ path('about_us') }}">À propos de nous</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3">
        <h5 class="text-white">En plus</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="{{ path('legal_notice') }}">Mentions légales</a>
          </li>
          <li>
            <a class="text-white" href="{{ path('legal_notice') }}">Politique de confidentialité</a>
          </li>
          <li>
            <a class="text-white" href="{{ path('cgu') }}">CGU</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

<div class="footer-copyright text-center text-white py-3">© Tous droits réservés - 2020 - sos-autisme

  </div>
</footer>