<header>
    <nav class="navbar navbar-expand-lg" id="navbar-front">
        <a class="navbar-brand" id="link-logo" href="{{ path('homepage') }}">
            <img src="/images/logo_sos_autisme.png" class="logo" alt="logo de sos-autisme">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars fa-2x"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-home"  href="{{ path('homepage') }}">Accueil</a>
                </li>                                                     
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('useful_link') }}">Liens utiles</a>
                </li>                                                     
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
                </li>                                                     
                <li class="nav-item ">
                    <a class="nav-link" href="#">À propros de nous</a>
                </li>                                                     
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            {% if app.user.Picture %}
                                <img src="{{ app.user.Picture }}" class="avatar avatar-mini" alt="Photo de {{ app.user.fullName }}"> {{app.user.fullName}}
                            {% else %}
                                <i class="fas fa-user-circle" id="randomAvatarMini"></i> {{app.user.fullName}}
                            {% endif %}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" id="navbar-dropdown-front" aria-labelledby="accountDropdownLink">
                            <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                            <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_register_pro') }}" class="nav-link">Vous êtes un professionnel ?</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
                    </li>
 
                    <li class="nav-tem dropdown ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            Connexion
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="navbar-dropdown-front" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('account_login') }}" class="dropdown-item">Espace personnel</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('account_login_pro') }}" class="dropdown-item">Espace pro</a>
                        </div>  
                    </li>     
                {% endif %}
            </ul>             
        </div>
    </nav>
</header>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}