{% extends 'admin/base.html.twig' %}

{% block title %}Administration des professionnels{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Gestions des professionnels</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Utilisateurs</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for user in pagination.data %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {% if user.picture %}
                        <img src="{{ user.picture }}" alt="photo de {{ user.fullName }}" class="avatar avatar-micro mr-2"> 
                        {{ user.fullName }}
                        {% else %}
                        <img src="http://placehold.it/20x20" alt="photo de {{ user.fullName }}" class="avatar avatar-micro mr-2"> 
                        {{ user.fullName }}   
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.description|raw }}</td>
                    <td>
                        <a href="{{ path('admin_proUser_edit', {'id' : user.id }) }}" class="btn btn-info rounded"><i class="fas fa-pen"></i></a>
                        <a href="{{ path('admin_prouser_delete', {'id' : user.id }) }}" class="btn btn-danger rounded mt-2" onclick="return confirm('Confirmer la suppression ?');"><i class="fas fa-trash"></i></a>
                    </t>         
                </tr>
            {% endfor %}
            </tbody>
        </table>
          {{ pagination.display() }}

    </div>
{% endblock %}

