<div class="card my-5">
  <h3 class="card-header">
     <a href="{{ path('proUser_show', {'slug' : proUser.slug }) }}">
		 <p class="text-dark">{{ proUser.fullName }}</p>
	 </a>
     <p class="h6">{{ proUser.jobCategory }}</p>
  </h3>
  <div class="card-body">
    <h6 class="card-subtitle text-muted">
     {% if proUser.comments | length > 0 %}
		 {% include "partials/rating.html.twig" with {'rating' : proUser.avgRatings} %}
	 {% else %}
		 <small>Pas encore noté</small>
	 {% endif %}
    </h6>
  </div>
     {% if proUser.Picture %}
		 <a href="{{ path('proUser_show', {'slug' : proUser.slug }) }}">
			 <img src="{{ proUser.Picture }}" class="avatar ml-2 mb-3" alt="Photo de {{ proUser.fullName }}">
		 </a>
	 {% else %}
		 <a href="{{ path('proUser_show', {'slug' : proUser.slug }) }}">
			 <i class="fas fa-user-circle" id="randomAvatar"></i>
		 </a>
	 {% endif %}
  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <div class="card-body">
    <a href="{{ path('proUser_show', {'slug' : proUser.slug }) }}" class="btn btn-primary btn-sm">Plus d'informations</a>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>

